.addMoment-container {
    padding: 10px 4em ;
}
.title-inp {
    width: 100% ;
}

.file-upload {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 228px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    max-width: 250px;
}

.add-btn {
    background: #001b31 !important;
    color: white !important;
    border-radius: 18px !important;
    margin: 10px 0 !important;
    width: 120px !important;
    padding: 5px !important;
    font-size: 18px !important;
    font-weight: bold !important;
    margin-top: 2em !important;
}